<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--
			Enable c3p0 connection pooling, because hibernate pooling is not
			prod-ready. Apparently connection.provider_class is needed in
			hibernate 3+
		--> 
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.max_size">4</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.idle_test_period">30</property>
        
        <property name="current_session_context_class">thread</property>
        
		<!-- All the entity classes for hibernate to check for annotations here -->
		<mapping class="org.sciplore.resources.Alert" />
		<mapping class="org.sciplore.resources.Application" />
		<mapping class="org.sciplore.resources.Citation" />
		<mapping class="org.sciplore.resources.Contact" />
		<mapping class="org.sciplore.resources.Document" />
		<mapping class="org.sciplore.resources.DocumentPerson" />
		<mapping class="org.sciplore.resources.DocumentRelatedness" />
		<mapping class="org.sciplore.resources.DocumentXref" />
		<mapping class="org.sciplore.resources.Feedback" />
		<mapping class="org.sciplore.resources.FulltextUrl" />
		<mapping class="org.sciplore.resources.Institution" />
		<mapping class="org.sciplore.resources.Keyword" />
		<mapping class="org.sciplore.resources.Log" />
		<mapping class="org.sciplore.resources.Mindmap" />
		<mapping class="org.sciplore.resources.Newsletter" />
		<mapping class="org.sciplore.resources.Person"/>
		<mapping class="org.sciplore.resources.PersonHomonym" />
		<mapping class="org.sciplore.resources.PersonXref" />
		<mapping class="org.sciplore.resources.Publist" />
		<mapping class="org.sciplore.resources.Spider" />
		<mapping class="org.sciplore.resources.User" />
		<mapping class="org.sciplore.resources.UserActivation" />
		<mapping class="org.sciplore.resources.Venue" />
		<mapping class="org.sciplore.resources.MindmapNode" />
		<mapping class="org.sciplore.resources.MindmapAttribute" />
		<mapping class="org.sciplore.resources.UsageStats" />
		<mapping class="org.sciplore.resources.RecStats" />
		<mapping class="org.sciplore.resources.DocumentXrefCategory"/>
		<mapping class="org.sciplore.resources.RecommendationsDocuments"/>
		<mapping class="org.sciplore.resources.RecommendationsDocumentsSet"/>
		<mapping class="org.sciplore.resources.SearchModel"/>
		<mapping class="org.sciplore.resources.SearchDocuments"/>
		<mapping class="org.sciplore.resources.SearchDocumentsSet"/>		
		<mapping class="org.sciplore.resources.RecommendationsEvaluatorCache"/>
		<mapping class="org.sciplore.resources.Algorithm"/>
        <mapping class="org.sciplore.resources.UserModel"/>
        <mapping class="org.sciplore.resources.GoogleDocumentQuery"/>
        <mapping class="org.sciplore.resources.DocumentsBibtex"/>
        <mapping class="org.sciplore.resources.DocumentsBibtexProxies"/>
        <mapping class="org.sciplore.resources.DocumentsBibtexUsers"/>
        <mapping class="org.sciplore.resources.DocumentsBibtexPdfHash"/>
        <mapping class="org.sciplore.resources.DocumentsPdfHash"/>
        <mapping class="org.sciplore.resources.MindmapsPdfHash"/>
        <mapping class="org.sciplore.resources.UsersApplications"/>
        <mapping class="org.sciplore.resources.RecommendationsUsersSettings"/>
        <mapping class="org.sciplore.resources.RecommendationsLabel"/>
        <mapping class="org.sciplore.resources.RecommendationsRatingsLabel"/>
        <mapping class="org.sciplore.resources.UserPasswordRequest"/>        
	</session-factory>
</hibernate-configuration>